.Painting-container{
    text-align: center;
}

.Painting-image{
    justify-content:center; 
}

.Painting-image-item{
    max-width:70%;
    max-height:50vh;
    vertical-align: middle;
    margin-top: 5vh;
    margin-left:5vw;
    margin-right:5vw
}

.Paintings-image-item:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition-duration: 1s;
    z-index: 1;
    margin-top: 20vh;
    margin-bottom: 50vh;
  }