.Tattoo-container{
    text-align: center;
}

.Tattoo-image{
    justify-content:center; 
}

.Tattoo-image-item{
    max-width:70%;
    max-height:50vh;
    vertical-align: middle;
    margin-top: 5vh;
    margin-left:5vw;
    margin-right:5vw;
    transition: 1s ease;
}

.Tattoo-image-item:hover {
    transform: scale(2);
    transition-duration: 1s;
    z-index: 1;
    margin-top: 20vh;
    margin-bottom: 50vh;
  }

  @media screen and (max-width: 960px) {

    .Tattoo-image-item:hover {
        transform: scale(1.1);
        z-index: 1;
        margin-top: 5vh;
        margin-bottom: 5vh;
      }
  
  }