body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "avestrava";
  src: local("avestrava"),
    url("./fonts/avestrava.ttf") format("truetype");
  font-weight: normal;

  font-family: "Peignot";
  src: local("Peignot"),
    url("./fonts/Peignot.ttf") format("truetype");
  font-weight: normal;

}
